<div id="<%= dom_id sale %>">
  <p>
    <strong>Amount:</strong>
    <%= sale.amount %>
  </p>

  <p>
    <strong>Vehicle:</strong>
    <%= sale.vehicle_id %>
  </p>

  <p>
    <strong>Lead:</strong>
    <%= sale.lead_id %>
  </p>

</div>
